.header {

  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  background: #ECF0F1;
  font-family: arial;
}

.mainImg {
  border-radius: 50%;
}

.body {
  padding-right: 25%;
  padding-left: 25%;
}

.body p {
  font-size: 20px;
}